.menu {
  margin: 5px 0 0 0;
}

.menu__table {
  max-width: 920px;
  border-top: 2px solid #80C02F;
  margin: 0 auto 0 0;
}

.menu__select-tab {
  display: inline-flex;
  min-width: 85px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  margin: 0 70px 0 0;
  padding: 20px 0 0;
}


.menu__select-tab_active {
  border-top: 5px solid #80C02F;
}

@media screen and (max-width: 1244px) {
  .menu__table {
    margin: 0 15px;
  }

  .menu__select-tab {
    margin: 0 40px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin: 20px 0 0;
  }
  
  .menu__table {
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .menu__table::-webkit-scrollbar {
    display: none;
  }

  .menu__select-tab {
    margin: 0 20px 0;
  }
}